{% extends "coltrane/base.html" %}

{% block title %}| Post a comment{% endblock %}

{% block content %}
  {% load comments %}
  {% load markup %}
  <form action="{% comment_form_target %}" method="POST">
    {% if form.errors %}
	<h2>Please correct the error{{ form.errors|pluralize }} below</h2>
    {% else %}
    <h2>Preview a comment</h2>
	<p>Here's how your comment will look:</p>

	<p>{{ form.cleaned_data.name }} said:</p>
      <blockquote>{{ comment|markdown:"safe" }}</blockquote>
      <p>
        and <input type="submit" name="submit" value="Post your comment" id="submit"> or make changes:
      </p>
    {% endif %}
    {% for field in form %}
      {% if field.is_hidden %}
        {{ field }}
      {% else %}
        <p
          {% if field.errors %} class="error"{% endif %}
          {% ifequal field.name "honeypot" %} style="display:none;"{% endifequal %}>
          {% if field.errors %}{{ field.errors }}{% endif %}
          {{ field.label_tag }} {{ field }}
        </p>
      {% endif %}
    {% endfor %}
    <p class="submit">
      <input type="submit" name="submit" class="submit-post" value="Post">
      <input type="submit" name="submit" class="submit-preview" value="Preview">
    </p>
  </form>
{% endblock %}